# =========================
# Node / NPM
# =========================
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env
.env.*
.env.local

# =========================
# Expo / React Native
# =========================
.expo/
.expo-shared/
*.jks
*.keystore

# =========================
# Build outputs
# =========================
dist/
build/
**/.next/
**/out/
**/coverage/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# Prisma (local dev only)
# =========================
backend/prisma/dev.db
backend/prisma/dev.db-journal

# =========================
# Backend local files (NO versionar)
# =========================
backend/public/uploads/
backend/categories.json

# =========================
# Root / shared temp files
# =========================
categories.json
